.CurrencyConvert{
    display:flex;
    flex-flow: column;
    background-color: gray;
    max-width: fit-content;
    padding: 10px;
}

.CurrencyConvert-InputContainer{
    display:flex;
    flex-flow: row;
    background-color: gray;
    max-width: fit-content;
}

.CurrencyConvert-OptionsContainer{
    display:flex;
    flex-flow: row;
    background-color: gray;
    max-width: fit-content;
    margin: 10px;
}

.CurrencyConvert-OptionsItem{
   flex: 1 1 auto;
   margin: 10px;
}

CurrencyConvert :on_hover{
    background-color: white;

}